<% layout('layouts/boilerplate') %>
    <div class="container">
        <div class="container">
            <div class="row ">
                <div class="col-7 image-left">

                </div>
                <div class="col-5 mt-2">

                    <form method="POST" action="/register" novalidate class="needs-validation">
                        <!-- <div class="form-group">
                            <label for="fullName">Full Name:</label>
                            <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Enter Full Name" required>
                        </div> -->
                        <div class="form-group">
                            <label for="first_name">First Name:(*)</label>
                            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter your first name" required>
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last Name:(*)</label>
                            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter last_name" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email address:(*)</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password:(*)</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                        </div>
                        <div class="form-group">
                            <label for="confirmationPassword">Confirm Password:(*)</label>
                            <input type="password" class="form-control" id="confirmationPassword" name="confirmationPassword" placeholder="Confirm Password" required>
                        </div>
                        <div class="form-group">
                            <label for="phone_no">Phone No:(*)</label>
                            <input type="text" class="form-control" id="phone_no" name="phone_no" placeholder="Enter 10 Digit Phone No" required>
                        </div>
                        <div class="form-group">
                            <label for="default_address">Enter Default Delivery Address:(*)</label>
                            <input type="text" class="form-control" id="default_address" name="default_address" placeholder="Enter Address" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>

                    <hr>
                    <div>
                        If you already have an account. <a href="/login">Login</a>.
                    </div>
                    <div>
                        Return to <a href="/">Home Page</a>
                    </div>
                    <br><br>

                </div>
            </div>
        </div>
    </div>