<% layout('layouts/boilerplate') %>




    <div class="card" mb-3>
        <div class="row">
            <div class="col-6 offset-3">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= info.food_name %>
                    </h5>
                    <p>
                        <small class="card-text text-muted">
                                <%= info.unit_price %>
                            </small>
                    </p>


                </div>
            </div>
        </div>

    </div>


    <a href="/foods">back to menu</a>